In [1]:
import pandas as pd
import requests
import csv
import json
from collections import OrderedDict
from heapq import nlargest
from heapq import nsmallest

### Collect and filter dataset for useful values and assign column names

In [2]:
data = pd.read_excel("DDW-0000C-14.xlsx", sheet_name='Sheet1')
data.head(7)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,C-14 POPULATION IN FIVE YEAR AGE-GROUP BY RESIDENCE AND SEX,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Table,State,Distt.,Area Name,Age-group,Total,NaN,NaN,Rural,NaN,NaN,Urban,NaN,NaN
1,Name,Code,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
3,NaN,NaN,NaN,NaN,1,2,3,4,5,6,7,8,9,10
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C4114,00,000,India,All ages,1210854977,623270258,587584719,833748852,427781058,405967794,377106125,195489200,181616925

In [3]:
data = data.loc[6:,:]
data.drop('Unnamed: 0',axis='columns', inplace=True)
data

,Unnamed: 1,Unnamed: 2,Unnamed: 3,C-14 POPULATION IN FIVE YEAR AGE-GROUP BY RESIDENCE AND SEX,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
6,00,000,India,All ages,1210854977,623270258,587584719,833748852,427781058,405967794,377106125,195489200,181616925
7,00,000,India,0-4,112806778,58632074,54174704,82986660,43036377,39950283,29820118,15595697,14224421
8,00,000,India,5-9,126928126,66300466,60627660,93807612,48825259,44982353,33120514,17475207,15645307
9,00,000,India,10-14,132709212,69418835,63290377,96804494,50488158,46316336,35904718,18930677,16974041
10,00,000,India,15-19,120526449,63982396,56544053,83902472,44570557,39331915,36623977,19411839,17212138
...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,35,000,ANDAMAN & NICOBAR ISLANDS,65-69,6226,3430,2796,4469,2477,1992,1757,953,804
686,35,000,ANDAMAN & NICOBAR ISLANDS,70-74,4098,2378,1720,2905,1687,1218,1193,691,502
687,35,000,ANDAMAN & NICOBAR ISLANDS,75-79,2251,1295,956,1606,952,654,645,343,302
688,35,000,ANDAMAN & NICOBAR ISLANDS,80+,2473,1279,1194,1857,992,865,616,287,329
689,35,000,ANDAMAN & NICOBAR ISLANDS,Age not stated,368,195,173,180,101,79,188,94,94

In [4]:
['State_Code','District_Code','Area_Name','Age-group','Total_Persons','Total_Males','Total_Females','Rural_Persons','Rural_Males','Rural_Females','Urban_Persons','Urban_Males','Urban_Females']

['State_Code',
 'District_Code',
 'Area_Name',
 'Age-group',
 'Total_Persons',
 'Total_Males',
 'Total_Females',
 'Rural_Persons',
 'Rural_Males',
 'Rural_Females',
 'Urban_Persons',
 'Urban_Males',
 'Urban_Females']

In [5]:
agegroup_data = data.set_axis(['State_Code','District_Code','Area_Name','Age-group','Total_Persons','Total_Males','Total_Females','Rural_Persons','Rural_Males','Rural_Females','Urban_Persons','Urban_Males','Urban_Females'], axis=1, inplace=False)
agegroup_data

,State_Code,District_Code,Area_Name,Age-group,Total_Persons,Total_Males,Total_Females,Rural_Persons,Rural_Males,Rural_Females,Urban_Persons,Urban_Males,Urban_Females
6,00,000,India,All ages,1210854977,623270258,587584719,833748852,427781058,405967794,377106125,195489200,181616925
7,00,000,India,0-4,112806778,58632074,54174704,82986660,43036377,39950283,29820118,15595697,14224421
8,00,000,India,5-9,126928126,66300466,60627660,93807612,48825259,44982353,33120514,17475207,15645307
9,00,000,India,10-14,132709212,69418835,63290377,96804494,50488158,46316336,35904718,18930677,16974041
10,00,000,India,15-19,120526449,63982396,56544053,83902472,44570557,39331915,36623977,19411839,17212138
...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,35,000,ANDAMAN & NICOBAR ISLANDS,65-69,6226,3430,2796,4469,2477,1992,1757,953,804
686,35,000,ANDAMAN & NICOBAR ISLANDS,70-74,4098,2378,1720,2905,1687,1218,1193,691,502
687,35,000,ANDAMAN & NICOBAR ISLANDS,75-79,2251,1295,956,1606,952,654,645,343,302
688,35,000,ANDAMAN & NICOBAR ISLANDS,80+,2473,1279,1194,1857,992,865,616,287,329
689,35,000,ANDAMAN & NICOBAR ISLANDS,Age not stated,368,195,173,180,101,79,188,94,94

In [6]:
df1 = agegroup_data.groupby(['Area_Name'])
df1.first()

,State_Code,District_Code,Age-group,Total_Persons,Total_Males,Total_Females,Rural_Persons,Rural_Males,Rural_Females,Urban_Persons,Urban_Males,Urban_Females
Area_Name,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,35,000,All ages,380581,202871,177710,237093,126287,110806,143488,76584,66904
ANDHRA PRADESH,28,000,All ages,84580777,42442146,42138631,56361702,28243241,28118461,28219075,14198905,14020170
ARUNACHAL PRADESH,12,000,All ages,1383727,713912,669815,1066358,546011,520347,317369,167901,149468
ASSAM,18,000,All ages,31205576,15939443,15266133,26807034,13678989,13128045,4398542,2260454,2138088
BIHAR,10,000,All ages,104099452,54278157,49821295,92341436,48073850,44267586,11758016,6204307,5553709
CHANDIGARH,04,000,All ages,1055450,580663,474787,28991,17150,11841,1026459,563513,462946
CHHATTISGARH,22,000,All ages,25545198,12832895,12712303,19607961,9797426,9810535,5937237,3035469,2901768
DADRA & NAGAR HAVELI,26,000,All ages,343709,193760,149949,183114,98305,84809,160595,95455,65140
DAMAN & DIU,25,000,All ages,243247,150301,92946,60396,32395,28001,182851,117906,64945
GOA,30,000,All ages,1458545,739140,719405,551731,275436,276295,906814,463704,443110
GUJARAT,24,000,All ages,60439692,31491260,28948432,34694609,17799159,16895450,25745083,13692101,12052982
HARYANA,06,000,All ages,25351462,13494734,11856728,16509359,8774006,7735353,8842103,4720728,4121375
HIMACHAL PRADESH,02,000,All ages,6864602,3481873,3382729,6176050,3110345,3065705,688552,371528,317024
India,00,000,All ages,1210854977,623270258,587584719,833748852,427781058,405967794,377106125,195489200,181616925
JAMMU & KASHMIR,01,000,All ages,12541302,6640662,5900640,9108060,4774477,4333583,3433242,1866185,1567057
JHARKHAND,20,000,All ages,32988134,16930315,16057819,25055073,12776486,12278587,7933061,4153829,3779232
KARNATAKA,29,000,All ages,61095297,30966657,30128640,37469335,18929354,18539981,23625962,12037303,11588659
KERALA,32,000,All ages,33406061,16027412,17378649,17471135,8408054,9063081,15934926,7619358,8315568
LAKSHADWEEP,31,000,All ages,64473,33123,31350,14141,7243,6898,50332,25880,24452
MADHYA PRADESH,23,000,All ages,72626809,37612306,35014503,52557404,27149388,25408016,20069405,10462918,9606487
MAHARASHTRA,27,000,All ages,112374333,58243056,54131277,61556074,31539034,30017040,50818259,26704022,24114237
MANIPUR,14,000,All ages,2855794,1438586,1417208,2021640,1026884,994756,834154,411702,422452
MEGHALAYA,17,000,All ages,2966889,1491832,1475057,2371439,1194260,1177179,595450,297572,297878
MIZORAM,15,000,All ages,1097206,555339,541867,525435,269135,256300,571771,286204,285567
NAGALAND,13,000,All ages,1978502,1024649,953853,1407536,725472,682064,570966,299177,271789
NCT OF DELHI,07,000,All ages,16787941,8987326,7800615,419042,226321,192721,16368899,8761005,7607894
ODISHA,21,000,All ages,41974218,21212136,20762082,34970562,17586203,17384359,7003656,3625933,3377723
PUDUCHERRY,34,000,All ages,1247953,612511,635442,395200,194907,200293,852753,417604,435149
PUNJAB,03,000,All ages,27743338,14639465,13103873,17344192,9093476,8250716,10399146,5545989,4853157
RAJASTHAN,08,000,All ages,68548437,35550997,32997440,51500352,26641747,24858605,17048085,8909250,8138835
SIKKIM,11,000,All ages,610577,323070,287507,456999,242797,214202,153578,80273,73305
TAMIL NADU,33,000,All ages,72147030,36137975,36009055,37229590,18679065,18550525,34917440,17458910,17458530
TRIPURA,16,000,All ages,3673917,1874376,1799541,2712464,1387173,1325291,961453,487203,474250
UTTAR PRADESH,09,000,All ages,199812341,104480510,95331831,155317278,80992995,74324283,44495063,23487515,21007548
UTTARAKHAND,05,000,All ages,10086292,5137773,4948519,7036954,3519042,3517912,3049338,1618731,1430607
WEST BENGAL,19,000,All ages,91276115,46809027,44467088,62183113,31844945,30338168,29093002,14964082,14128920

In [7]:
groups_name = list(df1.groups.keys())
groups_name

['ANDAMAN & NICOBAR ISLANDS',
 'ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHANDIGARH',
 'CHHATTISGARH',
 'DADRA & NAGAR HAVELI',
 'DAMAN & DIU',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'India',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'LAKSHADWEEP',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'NCT OF DELHI',
 'ODISHA',
 'PUDUCHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARAKHAND',
 'WEST BENGAL']

In [8]:
language_data = pd.read_excel("DDW-C18-0000.xlsx", sheet_name='Sheet1')

In [9]:
language_data.head(7)

,"C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State,District,Area Name,Total/,Age-group,Number speaking second language,NaN,NaN,Number speaking third language,NaN,NaN
1,code,code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Urban,NaN,Persons,Males,Females,Persons,Males,Females
3,1,2,3,4,5,6,7,8,9,10,11
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957

In [10]:
language_data = language_data.loc[5:,:]

In [11]:
['State_Code','District_Code','Area_Name','Total/Rural/Urban','Age-group','Number_speaking_second_language','Males2','Females2','Number_speaking_third_language','Males3','Females3']

['State_Code',
 'District_Code',
 'Area_Name',
 'Total/Rural/Urban',
 'Age-group',
 'Number_speaking_second_language',
 'Males2',
 'Females2',
 'Number_speaking_third_language',
 'Males3',
 'Females3']

In [12]:
language_data_total = language_data.set_axis(['State_Code','District_Code','Area_Name','Total/Rural/Urban','Age-group','Number_speaking_second_language','Males2','Females2','Number_speaking_third_language','Males3','Females3'], axis=1, inplace=False)
language_data_total

,State_Code,District_Code,Area_Name,Total/Rural/Urban,Age-group,Number_speaking_second_language,Males2,Females2,Number_speaking_third_language,Males3,Females3
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
7,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
8,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
9,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
...,...,...,...,...,...,...,...,...,...,...,...
1080,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1081,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1082,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1083,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1084,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

### Calculating State Level Data

In [13]:
df1 = language_data_total.groupby(['Area_Name'])
df1.first()

,State_Code,District_Code,Total/Rural/Urban,Age-group,Number_speaking_second_language,Males2,Females2,Number_speaking_third_language,Males3,Females3
Area_Name,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,35,00,Total,Total,257425,142378,115047,72708,41846,30862
ANDHRA PRADESH,28,00,Total,Total,21583334,12193992,9389342,6344376,3836382,2507994
ARUNACHAL PRADESH,12,00,Total,Total,885945,478413,407532,418551,236666,181885
ASSAM,18,00,Total,Total,14460591,7979404,6481187,4352497,2636287,1716210
BIHAR,10,00,Total,Total,16761785,9443495,7318290,1682572,1028475,654097
CHANDIGARH,04,00,Total,Total,579920,322898,257022,321979,178557,143422
CHHATTISGARH,22,00,Total,Total,3384223,1820621,1563602,422569,245150,177419
DADRA & NAGAR HAVELI,26,00,Total,Total,198983,113211,85772,71516,44256,27260
DAMAN & DIU,25,00,Total,Total,116629,71260,45369,34602,21856,12746
GOA,30,00,Total,Total,1126152,587384,538768,741249,395322,345927
GUJARAT,24,00,Total,Total,25892341,15059742,10832599,8570571,5181262,3389309
HARYANA,06,00,Total,Total,5627361,3257645,2369716,1170571,681228,489343
HIMACHAL PRADESH,02,00,Total,Total,1242705,683966,558739,347286,200478,146808
INDIA,00,00,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
JAMMU & KASHMIR,01,00,Total,Total,6183190,3634819,2548371,2096220,1258756,837464
JHARKHAND,20,00,Total,Total,10000720,5474214,4526506,1593039,965960,627079
KARNATAKA,29,00,Total,Total,24252594,13032885,11219709,7832129,4519095,3313034
KERALA,32,00,Total,Total,8163387,4293120,3870267,3188813,1734057,1454756
LAKSHADWEEP,31,00,Total,Total,18553,11338,7215,9981,6435,3546
MADHYA PRADESH,23,00,Total,Total,9808682,5474699,4333983,1257953,758130,499823
MAHARASHTRA,27,00,Total,Total,57419861,32034959,25384902,19724729,11455478,8269251
MANIPUR,14,00,Total,Total,1388620,760287,628333,616818,356245,260573
MEGHALAYA,17,00,Total,Total,822320,441080,381240,274931,160749,114182
MIZORAM,15,00,Total,Total,309703,174164,135539,52966,34714,18252
NAGALAND,13,00,Total,Total,1229723,661899,567824,537481,306593,230888
NCT OF DELHI,07,00,Total,Total,6817214,3792458,3024756,1358233,741513,616720
ODISHA,21,00,Total,Total,13825024,7865598,5959426,5525278,3359211,2166067
PUDUCHERRY,34,00,Total,Total,392292,213582,178710,71665,40809,30856
PUNJAB,03,00,Total,Total,13035224,7284183,5751041,7829913,4383841,3446072
RAJASTHAN,08,00,Total,Total,7473186,4389920,3083266,1006751,642842,363909
SIKKIM,11,00,Total,Total,388999,213340,175659,181402,99427,81975
TAMIL NADU,33,00,Total,Total,20416270,11000921,9415349,2447163,1410192,1036971
TRIPURA,16,00,Total,Total,1268601,713499,555102,198577,129143,69434
UTTAR PRADESH,09,00,Total,Total,22873609,13309909,9563700,2585664,1546993,1038671
UTTARAKHAND,05,00,Total,Total,1757756,982762,774994,187822,109529,78293
WEST BENGAL,19,00,Total,Total,15025848,8782338,6243510,2881005,1789355,1091650

In [14]:
group_state = list(df1.groups.keys())
group_state

['ANDAMAN & NICOBAR ISLANDS',
 'ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHANDIGARH',
 'CHHATTISGARH',
 'DADRA & NAGAR HAVELI',
 'DAMAN & DIU',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'INDIA',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'LAKSHADWEEP',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'NCT OF DELHI',
 'ODISHA',
 'PUDUCHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARAKHAND',
 'WEST BENGAL']

In [15]:
df2 = agegroup_data.groupby(['Area_Name'])
df2.first()

,State_Code,District_Code,Age-group,Total_Persons,Total_Males,Total_Females,Rural_Persons,Rural_Males,Rural_Females,Urban_Persons,Urban_Males,Urban_Females
Area_Name,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,35,000,All ages,380581,202871,177710,237093,126287,110806,143488,76584,66904
ANDHRA PRADESH,28,000,All ages,84580777,42442146,42138631,56361702,28243241,28118461,28219075,14198905,14020170
ARUNACHAL PRADESH,12,000,All ages,1383727,713912,669815,1066358,546011,520347,317369,167901,149468
ASSAM,18,000,All ages,31205576,15939443,15266133,26807034,13678989,13128045,4398542,2260454,2138088
BIHAR,10,000,All ages,104099452,54278157,49821295,92341436,48073850,44267586,11758016,6204307,5553709
CHANDIGARH,04,000,All ages,1055450,580663,474787,28991,17150,11841,1026459,563513,462946
CHHATTISGARH,22,000,All ages,25545198,12832895,12712303,19607961,9797426,9810535,5937237,3035469,2901768
DADRA & NAGAR HAVELI,26,000,All ages,343709,193760,149949,183114,98305,84809,160595,95455,65140
DAMAN & DIU,25,000,All ages,243247,150301,92946,60396,32395,28001,182851,117906,64945
GOA,30,000,All ages,1458545,739140,719405,551731,275436,276295,906814,463704,443110
GUJARAT,24,000,All ages,60439692,31491260,28948432,34694609,17799159,16895450,25745083,13692101,12052982
HARYANA,06,000,All ages,25351462,13494734,11856728,16509359,8774006,7735353,8842103,4720728,4121375
HIMACHAL PRADESH,02,000,All ages,6864602,3481873,3382729,6176050,3110345,3065705,688552,371528,317024
India,00,000,All ages,1210854977,623270258,587584719,833748852,427781058,405967794,377106125,195489200,181616925
JAMMU & KASHMIR,01,000,All ages,12541302,6640662,5900640,9108060,4774477,4333583,3433242,1866185,1567057
JHARKHAND,20,000,All ages,32988134,16930315,16057819,25055073,12776486,12278587,7933061,4153829,3779232
KARNATAKA,29,000,All ages,61095297,30966657,30128640,37469335,18929354,18539981,23625962,12037303,11588659
KERALA,32,000,All ages,33406061,16027412,17378649,17471135,8408054,9063081,15934926,7619358,8315568
LAKSHADWEEP,31,000,All ages,64473,33123,31350,14141,7243,6898,50332,25880,24452
MADHYA PRADESH,23,000,All ages,72626809,37612306,35014503,52557404,27149388,25408016,20069405,10462918,9606487
MAHARASHTRA,27,000,All ages,112374333,58243056,54131277,61556074,31539034,30017040,50818259,26704022,24114237
MANIPUR,14,000,All ages,2855794,1438586,1417208,2021640,1026884,994756,834154,411702,422452
MEGHALAYA,17,000,All ages,2966889,1491832,1475057,2371439,1194260,1177179,595450,297572,297878
MIZORAM,15,000,All ages,1097206,555339,541867,525435,269135,256300,571771,286204,285567
NAGALAND,13,000,All ages,1978502,1024649,953853,1407536,725472,682064,570966,299177,271789
NCT OF DELHI,07,000,All ages,16787941,8987326,7800615,419042,226321,192721,16368899,8761005,7607894
ODISHA,21,000,All ages,41974218,21212136,20762082,34970562,17586203,17384359,7003656,3625933,3377723
PUDUCHERRY,34,000,All ages,1247953,612511,635442,395200,194907,200293,852753,417604,435149
PUNJAB,03,000,All ages,27743338,14639465,13103873,17344192,9093476,8250716,10399146,5545989,4853157
RAJASTHAN,08,000,All ages,68548437,35550997,32997440,51500352,26641747,24858605,17048085,8909250,8138835
SIKKIM,11,000,All ages,610577,323070,287507,456999,242797,214202,153578,80273,73305
TAMIL NADU,33,000,All ages,72147030,36137975,36009055,37229590,18679065,18550525,34917440,17458910,17458530
TRIPURA,16,000,All ages,3673917,1874376,1799541,2712464,1387173,1325291,961453,487203,474250
UTTAR PRADESH,09,000,All ages,199812341,104480510,95331831,155317278,80992995,74324283,44495063,23487515,21007548
UTTARAKHAND,05,000,All ages,10086292,5137773,4948519,7036954,3519042,3517912,3049338,1618731,1430607
WEST BENGAL,19,000,All ages,91276115,46809027,44467088,62183113,31844945,30338168,29093002,14964082,14128920

### Calculating State Data

In [16]:
state_dict = dict()
country_dict = dict()

In [17]:
age_range = {'5-9':['5-9'],'10-14':['10-14'],'15-19':['15-19'],'20-24':['20-24'],'25-29':['25-29'],'30-49':['30-34','35-39','40-44','45-49'],'50-69':['50-54','55-59','60-64','65-69'],'70+':['70-74','75-79','80+']}

In [18]:
for i in range(len(group_state)):
    key = group_state[i]
    z = df1.get_group(group_state[i])          #retrieve the dataset under that state
    z = z[z['Total/Rural/Urban'] == 'Total']
    k = z.iloc[0]
    State = key
    status=0
    if key=='INDIA':
        status = 1
        key = 'India'
    #print("State = ",key)
    z2 = df2.get_group(key)
    highest_percentage = 0
    for key, value in age_range.items():
        age_gp = key
        row1 = z[z['Age-group'] == age_gp]
        Number_speaking_third_language = int(row1['Number_speaking_third_language'])
        population = 0
        for item in value: # Find valued according to age group in Language dataset 
            pop_key = item
            row2 = z2[z2['Age-group'] == pop_key]
            population = population + int(row2['Total_Persons'])
        percentage = (Number_speaking_third_language/population)*100
        if percentage>highest_percentage:
            Group = age_gp
            highest_percentage = percentage
    if status==0:
        #print("Group = ",Group)
        #print("highest_percentage = ",highest_percentage)
        state_dict[State] = [Group,round(highest_percentage,3)]
    else:
        #print("Group = ",Group)
        #print("highest_percentage = ",highest_percentage)
        country_dict[State] = [Group,round(highest_percentage,3)]
    #print("")

In [19]:
state_dict

{'ANDAMAN & NICOBAR ISLANDS': ['15-19', 28.747],
 'ANDHRA PRADESH': ['15-19', 12.981],
 'ARUNACHAL PRADESH': ['15-19', 47.589],
 'ASSAM': ['20-24', 21.066],
 'BIHAR': ['15-19', 2.918],
 'CHANDIGARH': ['50-69', 42.775],
 'CHHATTISGARH': ['25-29', 2.296],
 'DADRA & NAGAR HAVELI': ['15-19', 33.83],
 'DAMAN & DIU': ['30-49', 18.178],
 'GOA': ['15-19', 68.089],
 'GUJARAT': ['15-19', 23.987],
 'HARYANA': ['15-19', 7.319],
 'HIMACHAL PRADESH': ['20-24', 8.207],
 'JAMMU & KASHMIR': ['20-24', 29.58],
 'JHARKHAND': ['20-24', 7.375],
 'KARNATAKA': ['20-24', 17.577],
 'KERALA': ['20-24', 16.946],
 'LAKSHADWEEP': ['20-24', 25.991],
 'MADHYA PRADESH': ['15-19', 2.963],
 'MAHARASHTRA': ['20-24', 27.068],
 'MANIPUR': ['25-29', 31.663],
 'MEGHALAYA': ['30-49', 14.863],
 'MIZORAM': ['30-49', 7.42],
 'NAGALAND': ['20-24', 40.34],
 'NCT OF DELHI': ['70+', 14.999],
 'ODISHA': ['15-19', 22.31],
 'PUDUCHERRY': ['20-24', 7.852],
 'PUNJAB': ['15-19', 45.764],
 'RAJASTHAN': ['15-19', 2.884],
 'SIKKIM': ['15-19', 45.798],
 'TAMIL NADU': ['20-24', 4.589],
 'TRIPURA': ['20-24', 8.211],
 'UTTAR PRADESH': ['20-24', 2.443],
 'UTTARAKHAND': ['20-24', 3.095],
 'WEST BENGAL': ['50-69', 4.458]}

In [20]:
a_file = open("age-india-b.csv", "w",newline="")
writer = csv.DictWriter(a_file, fieldnames = ['state/ut', 'age-group', 'percentage'])
writer.writeheader()
writer = csv.writer(a_file)
for key, value in state_dict.items():
    writer.writerow([key] + value)

a_file.close()

In [21]:
data = pd.read_csv("age-india-b.csv")
data = data.to_string(index=False)
print("Displaying states and union territories of India data")
print("")
print(data)

Displaying states and union territories of India data

                 state/ut age-group  percentage
ANDAMAN & NICOBAR ISLANDS     15-19      28.747
           ANDHRA PRADESH     15-19      12.981
        ARUNACHAL PRADESH     15-19      47.589
                    ASSAM     20-24      21.066
                    BIHAR     15-19       2.918
               CHANDIGARH     50-69      42.775
             CHHATTISGARH     25-29       2.296
     DADRA & NAGAR HAVELI     15-19      33.830
              DAMAN & DIU     30-49      18.178
                      GOA     15-19      68.089
                  GUJARAT     15-19      23.987
                  HARYANA     15-19       7.319
         HIMACHAL PRADESH     20-24       8.207
          JAMMU & KASHMIR     20-24      29.580
                JHARKHAND     20-24       7.375
                KARNATAKA     20-24      17.577
                   KERALA     20-24      16.946
              LAKSHADWEEP     20-24      25.991
           MADHYA PRADESH     15-19       2.963
              MAHARASHTRA     20-24      27.068
                  MANIPUR     25-29      31.663
                MEGHALAYA     30-49      14.863
                  MIZORAM     30-49       7.420
                 NAGALAND     20-24      40.340
             NCT OF DELHI       70+      14.999
                   ODISHA     15-19      22.310
               PUDUCHERRY     20-24       7.852
                   PUNJAB     15-19      45.764
                RAJASTHAN     15-19       2.884
                   SIKKIM     15-19      45.798
               TAMIL NADU     20-24       4.589
                  TRIPURA     20-24       8.211
            UTTAR PRADESH     20-24       2.443
              UTTARAKHAND     20-24       3.095
              WEST BENGAL     50-69       4.458

In [22]:
print("")

In [23]:
country_dict

{'INDIA': ['20-24', 11.518]}

In [24]:
a_file = open("age-india-a.csv", "w",newline="")
writer = csv.DictWriter(a_file, fieldnames = ['Country', 'age-group', 'percentage'])
writer.writeheader()
writer = csv.writer(a_file)
for key, value in country_dict.items():
    writer.writerow([key] + value)

a_file.close()

In [25]:
data = pd.read_csv("age-india-a.csv")
data = data.to_string(index=False)
print("Displaying over all country data")
print("")
print(data)

Displaying over all country data

Country age-group  percentage
  INDIA     20-24      11.518