In [1]:
import pandas as pd
import requests
import csv
import json
from collections import OrderedDict
from heapq import nlargest
from heapq import nsmallest

### Collect and filter dataset for useful values and assign column names

In [2]:
data = pd.read_excel("DDW-0000C-08.xlsx")
data.head(7)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,Table,State,Distt.,Area Name,Total/,Age-group,Total,NaN,NaN,Illiterate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Code,Code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,...,Technical diploma or certificate,NaN,NaN,Graduate & above,NaN,NaN,Unclassified,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Urban/,NaN,NaN,NaN,NaN,NaN,...,not equal to degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females,NaN
4,NaN,NaN,NaN,NaN,NaN,1,2,3,4,5,...,32,33,34,35,36,37,38,39,40,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C2308,00,000,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,...,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454,NaN

In [3]:
data.columns.values

array(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4',
       'C-8  EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45'],
      dtype=object)

In [4]:
data = data.loc[6:,:]
data.drop('Unnamed: 0',axis='columns', inplace=True)
data.drop('Unnamed: 45',axis='columns', inplace=True)
data

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
6,00,000,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
7,00,000,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,...,0,0,0,0,0,0,0,0,0,0
8,00,000,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,...,0,0,0,0,0,0,0,136465,75715,60750
9,00,000,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,...,0,0,0,0,0,0,0,96524,52561,43963
10,00,000,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,...,0,0,0,0,0,0,0,70452,38456,31996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3133,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,65-69,1757,953,804,586,195,...,0,21,14,7,82,72,10,4,1,3
3134,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,70-74,1193,691,502,419,140,...,4,14,9,5,56,41,15,7,4,3
3135,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,75-79,645,343,302,234,80,...,0,6,3,3,22,16,6,7,4,3
3136,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,80+,616,287,329,264,68,...,0,2,1,1,23,14,9,6,1,5
3137,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,188,94,94,36,11,...,0,4,2,2,14,7,7,3,1,2

In [5]:
col = ['State_Code','District_Code','Area_Name','Total/Rural/Urban','Age-group','Total','Total_male','Total_female','Illiterate','Illiterate_male','Illiterate_female','Literate','Literate_male','Literate_female','Literate without education level','Literate without education level_male','Literate without education level_female','Literate but below primary','Literate but below primary_male','Literate but below primary_female','Primary but below middle','Primary but below middle_male','Primary but below middle_female','Middle but below matric/secondary','Middle but below matric/secondary_male','Middle but below matric/secondary_female','Matric/Secondary but below graduate','Matric/Secondary but below graduate_male','Matric/Secondary but below graduate_female','Higher secondary/Intermediate','Higher secondary/Intermediate_male','Higher secondary/Intermediate_female','Non_Technical','Non_Technical_male','Non_Technical_female','Technical','Technical_male','Technical_female','Graduate and above','Graduate and above_male','Graduate and above_female','Unclassified','Unclassified_male','Unclassified_female']
len(col)

44

In [6]:
literacy_data = data.set_axis(col, axis=1, inplace=False)
literacy_data

,State_Code,District_Code,Area_Name,Total/Rural/Urban,Age-group,Total,Total_male,Total_female,Illiterate,Illiterate_male,...,Non_Technical_female,Technical,Technical_male,Technical_female,Graduate and above,Graduate and above_male,Graduate and above_female,Unclassified,Unclassified_male,Unclassified_female
6,00,000,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
7,00,000,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,...,0,0,0,0,0,0,0,0,0,0
8,00,000,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,...,0,0,0,0,0,0,0,136465,75715,60750
9,00,000,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,...,0,0,0,0,0,0,0,96524,52561,43963
10,00,000,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,...,0,0,0,0,0,0,0,70452,38456,31996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3133,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,65-69,1757,953,804,586,195,...,0,21,14,7,82,72,10,4,1,3
3134,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,70-74,1193,691,502,419,140,...,4,14,9,5,56,41,15,7,4,3
3135,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,75-79,645,343,302,234,80,...,0,6,3,3,22,16,6,7,4,3
3136,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,80+,616,287,329,264,68,...,0,2,1,1,23,14,9,6,1,5
3137,35,000,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,188,94,94,36,11,...,0,4,2,2,14,7,7,3,1,2

In [7]:
df1 = literacy_data.groupby(['Area_Name'])
df1.first()

,State_Code,District_Code,Total/Rural/Urban,Age-group,Total,Total_male,Total_female,Illiterate,Illiterate_male,Illiterate_female,...,Non_Technical_female,Technical,Technical_male,Technical_female,Graduate and above,Graduate and above_male,Graduate and above_female,Unclassified,Unclassified_male,Unclassified_female
Area_Name,,,,,,,,,,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,35,000,Total,All ages,380581,202871,177710,86300,38494,47806,...,121,5138,2935,2203,24159,13622,10537,982,477,505
ANDHRA PRADESH,28,000,Total,All ages,84580777,42442146,42138631,34024017,14190903,19833114,...,21666,705274,587970,117304,5577387,3632622,1944765,349826,197474,152352
ARUNACHAL PRADESH,12,000,Total,All ages,1383727,713912,669815,617722,274044,343678,...,172,4394,3573,821,53606,36430,17176,1874,1112,762
ASSAM,18,000,Total,All ages,31205576,15939443,15266133,12027599,5370804,6656795,...,577,36671,30143,6528,1011345,639241,372104,34022,19944,14078
BIHAR,10,000,Total,All ages,104099452,54278157,49821295,51594899,22670134,28924765,...,34095,35466,30839,4627,3061676,2326092,735584,356290,209443,146847
CHANDIGARH,04,000,Total,All ages,1055450,580663,474787,250012,115317,134695,...,996,13801,9660,4141,194453,104748,89705,1628,801,827
CHHATTISGARH,22,000,Total,All ages,25545198,12832895,12712303,10165276,4025002,6140274,...,1135,51590,45165,6425,1018853,659081,359772,45061,23827,21234
DADRA & NAGAR HAVELI,26,000,Total,All ages,343709,193760,149949,120479,51239,69240,...,69,4748,3645,1103,19174,12227,6947,539,335,204
DAMAN & DIU,25,000,Total,All ages,243247,150301,92946,54841,25658,29183,...,42,2997,2226,771,12802,8425,4377,422,257,165
GOA,30,000,Total,All ages,1458545,739140,719405,293058,123317,169741,...,796,35594,24792,10802,146828,74077,72751,7086,2963,4123
GUJARAT,24,000,Total,All ages,60439692,31491260,28948432,19346334,8016387,11329947,...,11764,661401,455161,206240,3174158,1891932,1282226,143292,72195,71097
HARYANA,06,000,Total,All ages,25351462,13494734,11856728,8752474,3700667,5051807,...,12840,195115,143883,51232,1877085,1102809,774276,31786,16548,15238
HIMACHAL PRADESH,02,000,Total,All ages,6864602,3481873,3382729,1824866,729283,1095583,...,4442,53413,37213,16200,446609,251164,195445,9637,4768,4869
INDIA,00,000,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
JAMMU & KASHMIR,01,000,Total,All ages,12541302,6640662,5900640,5474069,2375991,3098078,...,1239,50822,33854,16968,653764,401279,252485,33609,19744,13865
JHARKHAND,20,000,Total,All ages,32988134,16930315,16057819,14660065,6047796,8612269,...,8468,64868,55953,8915,1328477,906174,422303,3973,2404,1569
KARNATAKA,29,000,Total,All ages,61095297,30966657,30128640,20447975,8458186,11989789,...,46956,793066,610709,182357,4043647,2489209,1554438,124199,65539,58660
KERALA,32,000,Total,All ages,33406061,16027412,17378649,5270237,2322509,2947728,...,39593,895188,508075,387113,2531321,1131336,1399985,57435,26480,30955
LAKSHADWEEP,31,000,Total,All ages,64473,33123,31350,11920,5100,6820,...,35,853,551,302,2302,1458,844,76,47,29
MADHYA PRADESH,23,000,Total,All ages,72626809,37612306,35014503,29775640,12437978,17337662,...,2918,99838,85480,14358,3222802,2051127,1171675,154582,86320,68262
MAHARASHTRA,27,000,Total,All ages,112374333,58243056,54131277,30820043,12985472,17834571,...,24973,858367,680370,177997,8639081,5167671,3471410,440317,199644,240673
MANIPUR,14,000,Total,All ages,2855794,1438586,1417208,947318,398728,548590,...,153,7971,3662,4309,225620,135082,90538,3545,2019,1526
MEGHALAYA,17,000,Total,All ages,2966889,1491832,1475057,1181884,577953,603931,...,64,3477,2189,1288,90519,46311,44208,5819,3064,2755
MIZORAM,15,000,Total,All ages,1097206,555339,541867,249031,116810,132221,...,89,1862,1111,751,49621,29527,20094,1012,530,482
NAGALAND,13,000,Total,All ages,1978502,1024649,953853,636068,300692,335376,...,286,4934,3411,1523,89718,53023,36695,3857,2082,1775
NCT OF DELHI,07,000,Total,All ages,16787941,8987326,7800615,4050174,1792470,2257704,...,6108,94586,61852,32734,2757844,1535972,1221872,14229,7666,6563
ODISHA,21,000,Total,All ages,41974218,21212136,20762082,15231623,6122455,9109168,...,6202,188268,157099,31169,1783797,1174184,609613,60901,34734,26167
PUDUCHERRY,34,000,Total,All ages,1247953,612511,635442,290644,115133,175511,...,911,39316,27765,11551,142029,79482,62547,3078,1313,1765
PUNJAB,03,000,Total,All ages,27743338,14639465,13103873,9036201,4203409,4832792,...,13170,234365,147801,86564,1760846,873776,887070,42234,22645,19589
RAJASTHAN,08,000,Total,All ages,68548437,35550997,32997440,30273155,11862585,18410570,...,2721,164634,129531,35103,3063282,2086247,977035,180158,105774,74384
SIKKIM,11,000,Total,All ages,610577,323070,287507,165625,71801,93824,...,52,1633,1187,446,32669,19290,13379,2231,1559,672
TAMIL NADU,33,000,Total,All ages,72147030,36137975,36009055,20309523,8097484,12212039,...,33741,1558526,1143646,414880,5457742,3119342,2338400,185551,97216,88335
TRIPURA,16,000,Total,All ages,3673917,1874376,1799541,869134,373007,496127,...,94,5977,4781,1196,137812,88621,49191,9228,4539,4689
UTTAR PRADESH,09,000,Total,All ages,199812341,104480510,95331831,85414786,36245546,49169240,...,62631,189869,167522,22347,9919838,6378138,3541700,480104,282854,197250
UTTARAKHAND,05,000,Total,All ages,10086292,5137773,4948519,3205339,1274065,1931274,...,1714,36172,30072,6100,910288,512068,398220,17245,8674,8571
WEST BENGAL,19,000,Total,All ages,91276115,46809027,44467088,29737834,12990217,16747617,...,4891,138525,120335,18190,4827817,3088673,1739144,225742,122125,103617

In [8]:
groups_name = list(df1.groups.keys())
groups_name

['ANDAMAN & NICOBAR ISLANDS',
 'ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHANDIGARH',
 'CHHATTISGARH',
 'DADRA & NAGAR HAVELI',
 'DAMAN & DIU',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'INDIA',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'LAKSHADWEEP',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'NCT OF DELHI',
 'ODISHA',
 'PUDUCHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARAKHAND',
 'WEST BENGAL']

In [9]:
language_data = pd.read_excel("DDW-C19-0000.xlsx", sheet_name='Sheet1')

In [10]:
language_data.head(7)

,"C-19 POPULATION BY BILINGUALISM, TRILINGUALISM, EDUCATIONAL LEVEL AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State,District,Area Name,Total/,Educational level,Number speaking second language,NaN,NaN,Number speaking third language,NaN,NaN
1,code,code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Urban/,NaN,Persons,Males,Females,Persons,Males,Females
3,1,2,3,4,5,6,7,8,9,10,11
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573

In [11]:
language_data = language_data.loc[5:len(language_data)-4,:]

In [12]:
['State_Code','District_Code','Area_Name','Total/Rural/Urban','Educational level','Number_speaking_second_language','Males2','Females2','Number_speaking_third_language','Males3','Females3']

['State_Code',
 'District_Code',
 'Area_Name',
 'Total/Rural/Urban',
 'Educational level',
 'Number_speaking_second_language',
 'Males2',
 'Females2',
 'Number_speaking_third_language',
 'Males3',
 'Females3']

In [13]:
language_data_total = language_data.set_axis(['State_Code','District_Code','Area_Name','Total/Rural/Urban','Educational level','Number_speaking_second_language','Males2','Females2','Number_speaking_third_language','Males3','Females3'], axis=1, inplace=False)
language_data_total

,State_Code,District_Code,Area_Name,Total/Rural/Urban,Educational level,Number_speaking_second_language,Males2,Females2,Number_speaking_third_language,Males3,Females3
5,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
6,00,00,INDIA,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573
7,00,00,INDIA,Total,Literate,272722502,158844799,113877703,82129722,48646547,33483175
8,00,00,INDIA,Total,Literate but below primary,29345104,16126959,13218145,3733616,2108024,1625592
9,00,00,INDIA,Total,Primary but below middle,48570544,26588496,21982048,8636296,4782211,3854085
...,...,...,...,...,...,...,...,...,...,...,...
864,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Literate but below primary,9633,5125,4508,1688,917,771
865,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Primary but below middle,17565,9892,7673,3395,1905,1490
866,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Middle but below matric/secondary,19490,11412,8078,5256,3162,2094
867,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Matric/Secondary but below graduate,33605,18862,14743,14817,8382,6435
868,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Graduate and above,13637,7492,6145,8089,4559,3530

### Calculating State Level Data

In [14]:
df1 = language_data_total.groupby(['Area_Name'])
df1.first()

,State_Code,District_Code,Total/Rural/Urban,Educational level,Number_speaking_second_language,Males2,Females2,Number_speaking_third_language,Males3,Females3
Area_Name,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,35,00,Total,Total,257425,142378,115047,72708,41846,30862
ANDHRA PRADESH,28,00,Total,Total,21583334,12193992,9389342,6344376,3836382,2507994
ARUNACHAL PRADESH,12,00,Total,Total,885945,478413,407532,418551,236666,181885
ASSAM,18,00,Total,Total,14460591,7979404,6481187,4352497,2636287,1716210
BIHAR,10,00,Total,Total,16761785,9443495,7318290,1682572,1028475,654097
CHANDIGARH,04,00,Total,Total,579920,322898,257022,321979,178557,143422
CHHATTISGARH,22,00,Total,Total,3384223,1820621,1563602,422569,245150,177419
DADRA & NAGAR HAVELI,26,00,Total,Total,198983,113211,85772,71516,44256,27260
DAMAN & DIU,25,00,Total,Total,116629,71260,45369,34602,21856,12746
GOA,30,00,Total,Total,1126152,587384,538768,741249,395322,345927
GUJARAT,24,00,Total,Total,25892341,15059742,10832599,8570571,5181262,3389309
HARYANA,06,00,Total,Total,5627361,3257645,2369716,1170571,681228,489343
HIMACHAL PRADESH,02,00,Total,Total,1242705,683966,558739,347286,200478,146808
INDIA,00,00,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
JAMMU & KASHMIR,01,00,Total,Total,6183190,3634819,2548371,2096220,1258756,837464
JHARKHAND,20,00,Total,Total,10000720,5474214,4526506,1593039,965960,627079
KARNATAKA,29,00,Total,Total,24252594,13032885,11219709,7832129,4519095,3313034
KERALA,32,00,Total,Total,8163387,4293120,3870267,3188813,1734057,1454756
LAKSHADWEEP,31,00,Total,Total,18553,11338,7215,9981,6435,3546
MADHYA PRADESH,23,00,Total,Total,9808682,5474699,4333983,1257953,758130,499823
MAHARASHTRA,27,00,Total,Total,57419861,32034959,25384902,19724729,11455478,8269251
MANIPUR,14,00,Total,Total,1388620,760287,628333,616818,356245,260573
MEGHALAYA,17,00,Total,Total,822320,441080,381240,274931,160749,114182
MIZORAM,15,00,Total,Total,309703,174164,135539,52966,34714,18252
NAGALAND,13,00,Total,Total,1229723,661899,567824,537481,306593,230888
NCT OF DELHI,07,00,Total,Total,6817214,3792458,3024756,1358233,741513,616720
ODISHA,21,00,Total,Total,13825024,7865598,5959426,5525278,3359211,2166067
PUDUCHERRY,34,00,Total,Total,392292,213582,178710,71665,40809,30856
PUNJAB,03,00,Total,Total,13035224,7284183,5751041,7829913,4383841,3446072
RAJASTHAN,08,00,Total,Total,7473186,4389920,3083266,1006751,642842,363909
SIKKIM,11,00,Total,Total,388999,213340,175659,181402,99427,81975
TAMIL NADU,33,00,Total,Total,20416270,11000921,9415349,2447163,1410192,1036971
TRIPURA,16,00,Total,Total,1268601,713499,555102,198577,129143,69434
UTTAR PRADESH,09,00,Total,Total,22873609,13309909,9563700,2585664,1546993,1038671
UTTARAKHAND,05,00,Total,Total,1757756,982762,774994,187822,109529,78293
WEST BENGAL,19,00,Total,Total,15025848,8782338,6243510,2881005,1789355,1091650

In [15]:
group_state = list(df1.groups.keys())
group_state

['ANDAMAN & NICOBAR ISLANDS',
 'ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHANDIGARH',
 'CHHATTISGARH',
 'DADRA & NAGAR HAVELI',
 'DAMAN & DIU',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'INDIA',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'LAKSHADWEEP',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'NCT OF DELHI',
 'ODISHA',
 'PUDUCHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARAKHAND',
 'WEST BENGAL']

In [16]:
df2 = literacy_data.groupby(['Area_Name'])
df2.first()

,State_Code,District_Code,Total/Rural/Urban,Age-group,Total,Total_male,Total_female,Illiterate,Illiterate_male,Illiterate_female,...,Non_Technical_female,Technical,Technical_male,Technical_female,Graduate and above,Graduate and above_male,Graduate and above_female,Unclassified,Unclassified_male,Unclassified_female
Area_Name,,,,,,,,,,,,,,,,,,,,,
ANDAMAN & NICOBAR ISLANDS,35,000,Total,All ages,380581,202871,177710,86300,38494,47806,...,121,5138,2935,2203,24159,13622,10537,982,477,505
ANDHRA PRADESH,28,000,Total,All ages,84580777,42442146,42138631,34024017,14190903,19833114,...,21666,705274,587970,117304,5577387,3632622,1944765,349826,197474,152352
ARUNACHAL PRADESH,12,000,Total,All ages,1383727,713912,669815,617722,274044,343678,...,172,4394,3573,821,53606,36430,17176,1874,1112,762
ASSAM,18,000,Total,All ages,31205576,15939443,15266133,12027599,5370804,6656795,...,577,36671,30143,6528,1011345,639241,372104,34022,19944,14078
BIHAR,10,000,Total,All ages,104099452,54278157,49821295,51594899,22670134,28924765,...,34095,35466,30839,4627,3061676,2326092,735584,356290,209443,146847
CHANDIGARH,04,000,Total,All ages,1055450,580663,474787,250012,115317,134695,...,996,13801,9660,4141,194453,104748,89705,1628,801,827
CHHATTISGARH,22,000,Total,All ages,25545198,12832895,12712303,10165276,4025002,6140274,...,1135,51590,45165,6425,1018853,659081,359772,45061,23827,21234
DADRA & NAGAR HAVELI,26,000,Total,All ages,343709,193760,149949,120479,51239,69240,...,69,4748,3645,1103,19174,12227,6947,539,335,204
DAMAN & DIU,25,000,Total,All ages,243247,150301,92946,54841,25658,29183,...,42,2997,2226,771,12802,8425,4377,422,257,165
GOA,30,000,Total,All ages,1458545,739140,719405,293058,123317,169741,...,796,35594,24792,10802,146828,74077,72751,7086,2963,4123
GUJARAT,24,000,Total,All ages,60439692,31491260,28948432,19346334,8016387,11329947,...,11764,661401,455161,206240,3174158,1891932,1282226,143292,72195,71097
HARYANA,06,000,Total,All ages,25351462,13494734,11856728,8752474,3700667,5051807,...,12840,195115,143883,51232,1877085,1102809,774276,31786,16548,15238
HIMACHAL PRADESH,02,000,Total,All ages,6864602,3481873,3382729,1824866,729283,1095583,...,4442,53413,37213,16200,446609,251164,195445,9637,4768,4869
INDIA,00,000,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
JAMMU & KASHMIR,01,000,Total,All ages,12541302,6640662,5900640,5474069,2375991,3098078,...,1239,50822,33854,16968,653764,401279,252485,33609,19744,13865
JHARKHAND,20,000,Total,All ages,32988134,16930315,16057819,14660065,6047796,8612269,...,8468,64868,55953,8915,1328477,906174,422303,3973,2404,1569
KARNATAKA,29,000,Total,All ages,61095297,30966657,30128640,20447975,8458186,11989789,...,46956,793066,610709,182357,4043647,2489209,1554438,124199,65539,58660
KERALA,32,000,Total,All ages,33406061,16027412,17378649,5270237,2322509,2947728,...,39593,895188,508075,387113,2531321,1131336,1399985,57435,26480,30955
LAKSHADWEEP,31,000,Total,All ages,64473,33123,31350,11920,5100,6820,...,35,853,551,302,2302,1458,844,76,47,29
MADHYA PRADESH,23,000,Total,All ages,72626809,37612306,35014503,29775640,12437978,17337662,...,2918,99838,85480,14358,3222802,2051127,1171675,154582,86320,68262
MAHARASHTRA,27,000,Total,All ages,112374333,58243056,54131277,30820043,12985472,17834571,...,24973,858367,680370,177997,8639081,5167671,3471410,440317,199644,240673
MANIPUR,14,000,Total,All ages,2855794,1438586,1417208,947318,398728,548590,...,153,7971,3662,4309,225620,135082,90538,3545,2019,1526
MEGHALAYA,17,000,Total,All ages,2966889,1491832,1475057,1181884,577953,603931,...,64,3477,2189,1288,90519,46311,44208,5819,3064,2755
MIZORAM,15,000,Total,All ages,1097206,555339,541867,249031,116810,132221,...,89,1862,1111,751,49621,29527,20094,1012,530,482
NAGALAND,13,000,Total,All ages,1978502,1024649,953853,636068,300692,335376,...,286,4934,3411,1523,89718,53023,36695,3857,2082,1775
NCT OF DELHI,07,000,Total,All ages,16787941,8987326,7800615,4050174,1792470,2257704,...,6108,94586,61852,32734,2757844,1535972,1221872,14229,7666,6563
ODISHA,21,000,Total,All ages,41974218,21212136,20762082,15231623,6122455,9109168,...,6202,188268,157099,31169,1783797,1174184,609613,60901,34734,26167
PUDUCHERRY,34,000,Total,All ages,1247953,612511,635442,290644,115133,175511,...,911,39316,27765,11551,142029,79482,62547,3078,1313,1765
PUNJAB,03,000,Total,All ages,27743338,14639465,13103873,9036201,4203409,4832792,...,13170,234365,147801,86564,1760846,873776,887070,42234,22645,19589
RAJASTHAN,08,000,Total,All ages,68548437,35550997,32997440,30273155,11862585,18410570,...,2721,164634,129531,35103,3063282,2086247,977035,180158,105774,74384
SIKKIM,11,000,Total,All ages,610577,323070,287507,165625,71801,93824,...,52,1633,1187,446,32669,19290,13379,2231,1559,672
TAMIL NADU,33,000,Total,All ages,72147030,36137975,36009055,20309523,8097484,12212039,...,33741,1558526,1143646,414880,5457742,3119342,2338400,185551,97216,88335
TRIPURA,16,000,Total,All ages,3673917,1874376,1799541,869134,373007,496127,...,94,5977,4781,1196,137812,88621,49191,9228,4539,4689
UTTAR PRADESH,09,000,Total,All ages,199812341,104480510,95331831,85414786,36245546,49169240,...,62631,189869,167522,22347,9919838,6378138,3541700,480104,282854,197250
UTTARAKHAND,05,000,Total,All ages,10086292,5137773,4948519,3205339,1274065,1931274,...,1714,36172,30072,6100,910288,512068,398220,17245,8674,8571
WEST BENGAL,19,000,Total,All ages,91276115,46809027,44467088,29737834,12990217,16747617,...,4891,138525,120335,18190,4827817,3088673,1739144,225742,122125,103617

### Calculating State Data

In [17]:
state_dict = dict()
country_dict = dict()

In [18]:
temp = df1.get_group(group_state[0])
#temp
list1 = temp['Educational level'].tolist()[1:8]
list1.remove('Literate')
list1

['Illiterate',
 'Literate but below primary',
 'Primary but below middle',
 'Middle but below matric/secondary',
 'Matric/Secondary but below graduate',
 'Graduate and above']

In [19]:
#age_range = {'5-9':['5-9'],'10-14':['10-14'],'15-19':['15-19'],'20-24':['20-24'],'25-29':['25-29'],'30-49':['30-34','35-39','40-44','45-49'],'50-69':['50-54','55-59','60-64','65-69'],'70+':['70-74','75-79','80+']}

In [20]:
for i in range(len(group_state)):
    key = group_state[i]
    z = df1.get_group(group_state[i])          #retrieve the dataset under that state
    z = z[z['Total/Rural/Urban'] == 'Total']
    k = z.iloc[0]
    State = key
    status = 0
    if key=='INDIA':
        status = 1
    #print("State = ",key)
    z2 = df2.get_group(key)
    z2 = z2[z2['Total/Rural/Urban'] == 'Total']
    z2 = z2.iloc[0:1]
    highest_percentage = 0
    for key in list1:
        row1 = z[z['Educational level'] == key]
        Number_speaking_third_language = int(row1['Number_speaking_third_language'])
        population = 0
        if key=='Matric/Secondary but below graduate':  # Find values according to literacy group in Language dataset 
            p1 = int(z2['Matric/Secondary but below graduate'])
            p2 = int(z2['Non_Technical'])
            p3 = int(z2['Technical'])
            p4 = int(z2['Higher secondary/Intermediate'])
            population = p1+p2+p3+p4
        else:
            population = int(z2[key])
            
        percentage = (Number_speaking_third_language*100)/population
        
        if percentage>highest_percentage:
            Group = key
            highest_percentage = percentage
    if status==0:
        #print("Group = ",Group)
        #print("highest_percentage = ",highest_percentage)
        state_dict[State] = [Group,round(highest_percentage,3)]
    else:
        #print("Group = ",Group)
        #print("highest_percentage = ",highest_percentage)
        country_dict[State] = [Group,round(highest_percentage,3)]
    #print("")

In [21]:
state_dict

{'ANDAMAN & NICOBAR ISLANDS': ['Graduate and above', 55.197],
 'ANDHRA PRADESH': ['Graduate and above', 37.073],
 'ARUNACHAL PRADESH': ['Graduate and above', 71.54],
 'ASSAM': ['Graduate and above', 62.465],
 'BIHAR': ['Graduate and above', 8.557],
 'CHANDIGARH': ['Graduate and above', 69.467],
 'CHHATTISGARH': ['Graduate and above', 10.915],
 'DADRA & NAGAR HAVELI': ['Graduate and above', 51.935],
 'DAMAN & DIU': ['Graduate and above', 54.843],
 'GOA': ['Graduate and above', 80.532],
 'GUJARAT': ['Graduate and above', 68.833],
 'HARYANA': ['Graduate and above', 18.04],
 'HIMACHAL PRADESH': ['Graduate and above', 15.25],
 'JAMMU & KASHMIR': ['Graduate and above', 67.385],
 'JHARKHAND': ['Graduate and above', 20.087],
 'KARNATAKA': ['Graduate and above', 48.937],
 'KERALA': ['Graduate and above', 38.702],
 'LAKSHADWEEP': ['Graduate and above', 67.289],
 'MADHYA PRADESH': ['Graduate and above', 11.19],
 'MAHARASHTRA': ['Graduate and above', 64.799],
 'MANIPUR': ['Graduate and above', 64.664],
 'MEGHALAYA': ['Graduate and above', 46.933],
 'MIZORAM': ['Graduate and above', 24.917],
 'NAGALAND': ['Graduate and above', 70.3],
 'NCT OF DELHI': ['Graduate and above', 23.914],
 'ODISHA': ['Graduate and above', 66.736],
 'PUDUCHERRY': ['Graduate and above', 21.216],
 'PUNJAB': ['Graduate and above', 76.652],
 'RAJASTHAN': ['Graduate and above', 7.958],
 'SIKKIM': ['Graduate and above', 77.333],
 'TAMIL NADU': ['Graduate and above', 14.993],
 'TRIPURA': ['Graduate and above', 33.813],
 'UTTAR PRADESH': ['Graduate and above', 6.647],
 'UTTARAKHAND': ['Graduate and above', 7.243],
 'WEST BENGAL': ['Graduate and above', 24.469]}

In [22]:
a_file = open("literacy-india-b.csv", "w",newline="")
writer = csv.DictWriter(a_file, fieldnames = ['state/ut', 'literacy-group', 'percentage'])
writer.writeheader()
writer = csv.writer(a_file)
for key, value in state_dict.items():
    writer.writerow([key] + value)

a_file.close()

In [23]:
data = pd.read_csv("literacy-india-b.csv")
data = data.to_string(index=False)
print("Displaying states and union territories of India data")
print("")
print(data)

Displaying states and union territories of India data

                 state/ut     literacy-group  percentage
ANDAMAN & NICOBAR ISLANDS Graduate and above      55.197
           ANDHRA PRADESH Graduate and above      37.073
        ARUNACHAL PRADESH Graduate and above      71.540
                    ASSAM Graduate and above      62.465
                    BIHAR Graduate and above       8.557
               CHANDIGARH Graduate and above      69.467
             CHHATTISGARH Graduate and above      10.915
     DADRA & NAGAR HAVELI Graduate and above      51.935
              DAMAN & DIU Graduate and above      54.843
                      GOA Graduate and above      80.532
                  GUJARAT Graduate and above      68.833
                  HARYANA Graduate and above      18.040
         HIMACHAL PRADESH Graduate and above      15.250
          JAMMU & KASHMIR Graduate and above      67.385
                JHARKHAND Graduate and above      20.087
                KARNATAKA Graduate and above      48.937
                   KERALA Graduate and above      38.702
              LAKSHADWEEP Graduate and above      67.289
           MADHYA PRADESH Graduate and above      11.190
              MAHARASHTRA Graduate and above      64.799
                  MANIPUR Graduate and above      64.664
                MEGHALAYA Graduate and above      46.933
                  MIZORAM Graduate and above      24.917
                 NAGALAND Graduate and above      70.300
             NCT OF DELHI Graduate and above      23.914
                   ODISHA Graduate and above      66.736
               PUDUCHERRY Graduate and above      21.216
                   PUNJAB Graduate and above      76.652
                RAJASTHAN Graduate and above       7.958
                   SIKKIM Graduate and above      77.333
               TAMIL NADU Graduate and above      14.993
                  TRIPURA Graduate and above      33.813
            UTTAR PRADESH Graduate and above       6.647
              UTTARAKHAND Graduate and above       7.243
              WEST BENGAL Graduate and above      24.469

In [24]:
country_dict

{'INDIA': ['Graduate and above', 32.431]}

In [25]:
a_file = open("literacy-india-a.csv", "w",newline="")
writer = csv.DictWriter(a_file, fieldnames = ['Country', 'literacy-group', 'percentage'])
writer.writeheader()
writer = csv.writer(a_file)
for key, value in country_dict.items():
    writer.writerow([key] + value)

a_file.close()

In [26]:
data = pd.read_csv("literacy-india-a.csv")
data = data.to_string(index=False)
print("Displaying over all country data")
print("")
print(data)

Displaying over all country data

Country     literacy-group  percentage
  INDIA Graduate and above      32.431